<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section class="container">
        <%- include('partials/navbar.ejs') %>
    
        <article class="content">
          <h1>Cadastro de Posts</h1>

          

          <form class="cadastro-posts" action ="/salvar-post" method="post">
            <div>
                <label>Título</label>
                <input name="titulo" type="text" placeholder="Digite o Título">
            </div>

            <div>
                <label>Texto</label>
                <textarea name="texto"></textarea>
            </div>
            
            <div>
                <button type="submit">Cadastrar</button>
            </div>
            <% if(cadastrado) { %>
              Post realizado com sucesso!
            <% } %>
          </form>
        
        </article>
      </section>

    <%- include('partials/footer.ejs') %>
    <%- include('partials/foot.ejs') %>
</body>
</html>